* 
{
    font-family: 'Poppins', sans-serif;
}

html, body
{
    height: 100%;
}

body
{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

nav a 
{
    font-family: 'Pacifico', cursive;
}

.card
{
    border-radius: 20px;
}

